body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    margin-top: 20px;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin: 30px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(198, 138, 138);
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.cell:hover {
    background-color: #7dae40;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}